@import "../ConfigStyle/Colors.scss";

.sign__wrap {
  position: fixed;
  top: 0;
  right: 0;
  min-height: 100vh;
  height: 100%;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 1rem;
  h2 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
    color: $deepGreen;
  }
  hr {
    margin: 0 0 0.5rem 0;
  }
  p {
    margin-bottom: 0.5rem;
    line-height: normal;
    &:last-child {
      margin-bottom: 1rem;
    }
  }
}

.sign__SNSButtons {
  margin-bottom: 0.75rem;
  &:last-child {
    margin-bottom: 1rem;
  }
}

.sign__baseSNSButton {
  color: $white;
  width: 100%;
  padding: 0.5rem 3rem;
  border-radius: 3px;
}

.Google {
  background-color: $Google;
  box-shadow: 0px 2px 4px #993027;
}

.Facebook {
  background-color: $Facebook;
  box-shadow: 0px 2px 4px #1054a9;
}

.Twitter {
  background-color: $Twitter;
  box-shadow: 0px 2px 4px #1471a9;
}

.GitHub {
  background-color: $GitHub;
  box-shadow: 0px 2px 4px #191d20;
}

.Yahoo {
  background-color: $Yahoo;
  box-shadow: 0px 2px 4px #2f016a;
}

.Microsoft {
  background-color: $Microsoft;
  box-shadow: 2px 2px 4px #a93819;
}
