$black: #121212;
$white: #dedede;
$salmon: #f6a580;
$lightSalmon: #ffc78b;
$deepSalmon: #d5591d;
$green: #3ab549;
$lightGreen: #a5d7a9;
$deepGreen: #086517;
$Giphy: #121212;
$Tenor: #2f94e6;
$Imgur: #89c622;
$Google: #db4437;
$Facebook: #1778f2;
$Twitter: #1da1f2;
$GitHub: #24292e;
$Yahoo: #430297;
$Microsoft: #f25023;
