@import "./ConfigStyle/Colors.scss";

.footer__background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: black;
  opacity: 0.5;
}

.footer__wrap {
  position: fixed;
  bottom: 0;
  max-width: 768px;
  width: 100%;
}

.footer__selectButton {
  display: inline-block;

  label {
    cursor: pointer;
    color: $white;
    font-size: 0.75rem;
    font-weight: bold;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: 0.2s;
  }
  input {
    &:checked + label {
      color: $white;
      background-color: $deepGreen;
    }
  }
}

.footer__forms {
  display: flex;
}

.footer_search {
  margin-bottom: 0;
  font-size: 1.25rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0;
  background-color: rgba($color: #ffffff, $alpha: 0.85);
}

.Giphy {
  label {
    background-color: $Giphy;
  }
}

.Tenor {
  label {
    background-color: $Tenor;
  }
}

.Imgur {
  label {
    background-color: $Imgur;
  }
}
