@import "./ConfigStyle/Colors.scss";

.menu__wrap {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
}

.menu__contents {
  white-space: nowrap;
  height: 100vh;
  color: $black;
  background-color: rgba(white, 0.85);
  padding: 1rem;
}

.menu__logo {
  cursor: pointer;
  max-width: 100px;
  width: 100%;
  margin-bottom: 2rem;
}

.menu__list {
  margin-bottom: 2rem;
  li {
    margin-bottom: 0.75rem;
    button {
      font-size: 1rem;
      background-color: transparent;
      padding: 0;
    }
  }
}

.menu__copy {
  font-size: 0.7rem;
}

.menu__text {
  max-height: 100vh;
  height: 100%;
  padding: 2rem 1rem;
  background-color: rgba(white, $alpha: 0.75);
  overflow-y: auto;
}
