@import "./Colors.scss";

.sign__background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $black;
  opacity: 0.5;
}

.sign__wrap {
  position: fixed;
  top: 0;
  right: 0;
  min-height: 100vh;
  z-index: 1;
  background-color: rgba($color: #ffffff, $alpha: 0.85);
  color: $black;
  padding: 1rem;
  box-shadow: (0 1px 2px $green);
  h2 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
    color: $deepGreen;
  }
  hr {
    margin: 0 0 0.5rem 0;
  }
  p {
    margin-bottom: 0.5rem;
    line-height: normal;
    &:last-child {
      margin-bottom: 1rem;
    }
  }
}

.sign__SNSButtons {
  margin-bottom: 0.75rem;
  &:last-child {
    margin-bottom: 1rem;
  }
}

.sign__baseSNSButton {
  color: $white;
  width: 100%;
  padding: 0.5rem 3rem;
  border-radius: 3px;
}

.Google {
  background-color: $Google;
}

.Facebook {
  background-color: $Facebook;
}

.Twitter {
  background-color: $Twitter;
}

.GitHub {
  background-color: $GitHub;
}

.Yahoo {
  background-color: $Yahoo;
}

.Microsoft {
  background-color: $Microsoft;
}
