@import "./Colors.scss";

.greenButton {
  background-color: $deepGreen;
  box-shadow: 1px 1px 3px #064c11, -1px -1px 3px #0a7e1d;
  color: $white;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}

.greenUnderline {
  color: $deepGreen;
  text-decoration: underline;
}

.input {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  background: $white;
  box-shadow: inset 3px 3px 6px #9b9b9b, inset -3px -3px 6px #ffffff;
}
